repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.0
    hooks:
    - id: reorder-python-imports
      language_version: python3.7
-   repo: https://github.com/ambv/black
    rev: 18.9b0
    hooks:
    - id: black
      args: [--safe, --quiet]
      python_version: python3.7
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0-1
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.8.0
    hooks:
    - id: pyupgrade
