[tool.poetry]
name = "chemex"
version = "2022.2.0"
description = "ChemEx is an analysis program for chemical exchange detected by NMR"
authors = ["Guillaume Bouvignies <gbouvignies@gmail.com>"]
license = "GPL-3.0-only"
readme = "README.md"
repository = "https://github.com/gbouvignies/chemex"
homepage = "http://gbouvignies.github.io/ChemEx/"
classifiers = [
  "Intended Audience :: Science/Research",
  "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
]

  [tool.poetry.dependencies]
  python     = ">=3.9,<3.11"
  numpy      = "^1.24.1"
  scipy      = "^1.10.0"
  matplotlib = "^3.6.2"
  lmfit      = "^1.1.0"
  pydantic   = "^1.10.4"
  cachetools = "^5.2.0"
  rich       = "^13.0.0"
  tomli      = "^2.0.1"
  rapidfuzz  = "^2.13.7"

  [tool.poetry.group.dev.dependencies]
  pre-commit       = "^2.17.0"
  types-cachetools = "^4.2.9"

[tool.poetry.scripts]
chemex = "chemex.chemex:main"

[tool.black]
target-version = ['py39']

[build-system]
requires      = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
