[tool.poetry]
name        = "chemex"
version     = "2021.2.0-dev2"
description = "ChemEx is an analysis program for chemical exchange detected by NMR"
authors     = ["Guillaume Bouvignies <gbouvignies@gmail.com>"]
license     = "BSD-3-Clause"
readme      = "README.md"
repository  = "https://github.com/gbouvignies/chemex"
homepage    = "https://github.com/gbouvignies/chemex"
classifiers = [
  "Intended Audience :: Science/Research",
  "License :: OSI Approved :: BSD License",
]

    [tool.poetry.dependencies]
    python     = ">=3.8,<3.10"
    numpy      = "^1.20.2"
    scipy      = "^1.6.3"
    matplotlib = "^3.4.1"
    lmfit      = "^1.0.2"
    toml       = "^0.10.2"
    jsonschema = "^3.2.0"
    tqdm       = "^4.60.0"

    [tool.poetry.dev-dependencies]
    black                    = "^21.4b0"
    bump2version             = "^1.0.1"
    pre-commit               = "^2.12.1"
    flake8                   = "^3.9.1"
    sphinx                   = "^3.2.1"
    recommonmark             = "^0.6.0"
    sphinx-rtd-theme         = "^0.5.0"
    sphinxcontrib-httpdomain = "^1.7.0"
    Sphinx                   = "^3.5.4"

    [tool.poetry.scripts]
    chemex = "chemex.chemex:main"

[tool.black]
line-length    = 88
target-version = ['py38']
include        = '\.pyi?$'
exclude        = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
